<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ site.name }}</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="author" content="Mikael Hultgren" />
        {% feed_meta %}

        <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
        <link rel="stylesheet" href="/css/main.min.css" />
    </head>

    <body>
        <header class="ai-page-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <p>
                            <strong>Mikael Hultgren</strong
                            >&nbsp;&nbsp;—&nbsp;&nbsp; I'm a coder, baker and
                            climber, by day I code for a living and by night I
                            rekindle my love of coding. Places to find out more
                            about me
                            <a href="https://github.com/blomma">github</a> |
                            <a href="https://cv.artsoftheinsane.com">resume</a>
                            |
                            <a
                                href="https://www.linkedin.com/in/mikael-hultgren-394a9a1a/"
                                >linkedIn</a
                            >
                            |
                            <a href="https://literature.artsoftheinsane.com"
                                >literature quotes</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </header>

        {{ content }}

        <footer class="footer">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <p>
                            <small
                                >All Content &copy;
                                <script type="text/javascript">
                                    document.write(new Date().getFullYear());
                                </script>
                                <a
                                    href="mailto:blomma@artsoftheinsane.com"
                                    title="click to email"
                                    >blomma@artsoftheinsane.com</a
                                >/ artsoftheinsane.com
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
